* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}  

.main-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.s1 {
  background-color: #e2d2cf;
  overflow: auto;
}

.s2 {
  background-color: #e6e6e6;
  overflow: auto;
}

/* Navbar */
ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 20px;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  /* background-color: #e6e6e6; */
  /* box-shadow: 0 0 35px 25px #e2d2cf inset; */
  font-family: 'Heebo', sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  line-height: 1.2;
  margin: 10px 0;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  transform: scale(1.15);
}

/* Projects */
.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	border: 1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail {
	display: block;
	width: 100%;
	height: 202px;
	object-fit: cover;
}

.post-preview {
	background-color: #fff;
	padding: 15px;
}

.post-title {
	color: black;
	margin: 0;
}

.post-intro {
	color: #4b5156;
	font-size: 14px;
}






/* previous */
.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #e6e6e6;
  box-shadow: 0 0 35px 25px #e2d2cf inset;
  font-family: 'Heebo', sans-serif;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
}

.nav-a {
  text-decoration: none !important;
  padding: 20px;
  color: black;
}

.nav-a:hover {
  border-bottom: 2px #fff solid;
  transform: scale(1.15);
}

  #painting {
    width: 550px;
    height: 550px;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
  } 

.outer-container {
  display: flex;
  justify-content: center;
}
  
.artist {
  font-family: 'Staatliches', cursive;
  font-size: 400%;
  position: relative;
  bottom: 472px;
  left: -161px;
  text-shadow: 3px 3px white; 
}

.developer {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 392%;
  position: relative;
  bottom: 542px;
  left: 400px;
  text-shadow: 2px 2px limegreen;
}

.brushstroke {
  width: 50px;
  height: 200px;
  position: relative;
  left: -66px;
  bottom: 483px;
  transform: skew(-4deg, -17deg) rotate(65deg);
}

.brushstroke-code {
  width: 50px;
  height: 200px;
  position: relative;
  left: 471px;
  bottom: 433px;
  transform: skew(12deg, 335deg) rotate(308deg);
}

#projects {
  text-align: center;
  background-color: #e6e6e6;
  padding: 500px;
  position: relative;
  bottom: 200px; 
}

.about {
  background-color: #e6e6e6;
  padding: 100px;
}

.view-all {
  background-color: grey;
  display: flex;
  align-items: center;
}

.project1 {
  background-color: rgb(134, 143, 140);
  width: 333px;
  height: 364px;
  position: absolute;
  top: 110px;
  left: 221px;
}

.project-image {
  width: 274px;
  height: 143px;
}

.project-text {
  font-size: 34px;
}

.project2 {
  background-color: rgb(134, 143, 140);
  width: 333px;
  height: 364px;
  position: absolute;
  top: 110px;
  right: 205px;
}

.project3 {
  background-color: rgb(134, 143, 140);
  width: 333px;
  height: 364px;
  position: absolute;
  top: 569px;
  left: 221px;
}

.project4 {
  background-color: rgb(134, 143, 140);
  width: 333px;
  height: 364px;
  position: absolute;
  top: 569px;
  right: 205px;
}

