a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

body {
    /* background-color: #e6e6e6; */
    /* background-color: #b3b3b3; */
    /* background-color: #d9c3bf; */
    /* background-color: #ebe2e0; */

    background-color: #e2d2cf;
    /* background-color: #D4C3B9; */

    /* background-color: #D8C0B8; */
   margin: 0;
   padding: 0;
  }  



.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #e6e6e6;
  box-shadow: 0 0 35px 25px #e2d2cf inset;
  /* background-color: #d9c3bf; */
  /* background-color: #ebe2e0; */
}


.nav {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
}

.nav-a {
  text-decoration: none !important;
  padding: 20px;
  color: black;
}

/* @media only screen and (max-width: 12450px) {
#painting {
  width: 550px;
  height: 550px;
  position: relative;
  top: 100px;
  left:  432px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px auto 30px;
  grid-template-areas: 
    "hdr hdr"
    "side content"
    "ftr ftr";
}
} */ 

/* @media only screen and (min-width: 1024px) { */
  #painting {
    width: 550px;
    height: 550px;
    position: relative;
    top: 100px;

    display: flex;
    justify-content: center; 
    align-items: center;
  } 

.outer-container {
  display: flex;
  justify-content: center;
}


/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  

.artist {
  font-family: 'Staatliches', cursive;
  font-size: 400%;
  position: relative;
  bottom: 472px;
  left: -161px;
  text-shadow: 3px 3px white;
  
}

.developer {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 392%;
  position: relative;
  bottom: 542px;
  left: 400px;
  text-shadow: 2px 2px limegreen;
}

.brushstroke {
  width: 50px;
  height: 200px;
  position: relative;
  left: -66px;
  bottom: 483px;
  transform: skew(-4deg, -17deg) rotate(65deg);
}

.brushstroke-code {
  width: 50px;
  height: 200px;
  position: relative;
  left: 611px;
  bottom: 500px;
  transform: skew(-4deg, -17deg) rotate(65deg);
}

.projects {
  text-align: center;
  background-color: #e6e6e6;
  padding: 100px;
  position: relative;
  bottom: 200px;
  
}

.about {
  background-color: #e6e6e6;
  padding: 100px;
}

.view-all {
  background-color: grey;
  display: flex;
  align-items: center;
}